.advantages {
    padding-top: 66px !important;
    position: relative;
}

.advantages::before {
    content: "";
    width: 88px;
    height: 110px;
    // background-color: red;
    position: absolute;
    top: 54px;
    right: 0px;
    background-image: url(../img/paw_back.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.advantages__title {
    text-align: center;
    padding-bottom: 36px;
}

.advantages__list .advantages__item:nth-of-type(1) {
    padding-right: 32px;
}

.advantages__list .advantages__item:nth-of-type(5) {
    padding-right: 13px;
}

.advantages__list .advantages__item:last-of-type {
    margin-bottom: 0px;
}

.advantages__item {
    padding: 115px 25px 25px 25px;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 25px 0px rgba(208, 208, 208, 0.25);

    position: relative;
}

.advantages__name {
    font-family: "Rubik";
    font-size: 18px;
    line-height: 140%;
    font-weight: 600;
    margin-bottom: 20px;
}

.advantages__description {
    // font-size: 15px;
    // line-height: normal;
    // padding-right: 40px;
}

.advantages__paragraph {

    @media (min-width: @tablet-width) {
        // display: none;
    }
}

.advantages__decor {
    content: "";
    width: 60px;
    height: 60px;

    position: absolute;
    top: 25px;
    left: 25px;
}

.advantages__decor--temperature {
    background-image: url(../img/temperature.svg);
}

.advantages__decor--camera {
    background-image: url(../img/camera.svg);
}

.advantages__decor--taxi {
    background-image: url(../img/taxi.svg);
}

.advantages__decor--food {
    background-image: url(../img/food.svg);
}

.advantages__decor--walk {
    background-image: url(../img/walk.svg);
}

.advantages__decor--medicine {
    background-image: url(../img/medicine.svg);
}
