.data {
    font-size: 15px;
    line-height: normal;
    border: none;
    padding: 0;
}

.data__item {
    margin-bottom: 20px;
}

.data input::placeholder {
    color: #1A212F;
}

.input {
    padding: 16px;
    border: 1px solid #D7D7D7;
    border-radius: 25px;
    width: 100%;
}

.data__check-in {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 35px;
}

.data__label {
    width: 100%;
    margin-bottom: 15px;
}

.data__wrap {
    display: flex;
    width: 50%;
    align-items: center;
}

.data__check-in .data__wrap:first-of-type {
    padding-right: 11px;
}

.data__wrap p {
    margin-right: 5px;
}

.input__check-in {
    padding: 16px 12px;
}