
.header__color {
    background-color: @basic-yellow;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0px;
    // margin: 12px 0;
    padding: 12px 0;
}
