.head {
    text-align: center;
    // color: @basic-white;
    background-image: url(../img/mobile_head.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 457px;
}

.head__city {
    font-size: 12px;
    line-height: 14px;
    padding-top: 48px;
    // margin-bottom: 12px;
}

.head__title {
    font-family: "Rubikbold";
    font-size: 44px;
    line-height: 52px;
}

.head__hotel {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-top: 10px;
    margin-bottom: 38px;
}

.head__btn {
    font-size: 16px;
    font-weight: 600;
    line-height: 12px;
    background-color: #fff;
    padding: 18px 64px 20px 30px;
    border-radius: 25px;

    position: relative;
}

.head__btn::before {
    content: "";
    width: 36px;
    height: 36px;
    background-image: url(../img/paw.svg);

    position: absolute;
    top: 50%;
    right: 7px;
    transform: translateY(-50%);
}