.promo__wrap {
    min-height: 496px;
    background-image: url(../img/promo_back.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    position: relative;
    z-index: 1;

    @media (min-width: @tablet-width) {
        display: grid;
        grid-template-columns: 0.6fr;
        min-height: 359px;
        background-image: url(../img/promo_back_tablet.jpg);    
        padding: 49px 50px;
        text-align: left;
    }

    @media (min-width: @desktop-width) {
        background-image: url(../img/promo_back_desktop.jpg); 
        padding: 78px 270px;
        min-height: auto;
    }
}

.promo__decor {

    @media (min-width: @desktop-width) {
        position: absolute;
    }
}

.promo__decor::before {
    content: "";
    width: 80px;
    height: 74px;
    background-image: url(../img/promo_paw_desktop.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: -18px;
    z-index: -1;

    @media (min-width: @tablet-width) {
        width: 124px;
        height: 116px;
        left: -16px;
    }

    @media (min-width: @desktop-width) {
        width: 220px;
        height: 200px;
        left: 0;
    }
}

.promo__title {
    font-family: "Rubikbold";
    font-size: 24px;
    line-height: normal;
    margin-top: 50px;
    margin-bottom: 20px;

    @media (min-width: @tablet-width) {
        font-size: 36px;
        margin: 0;  
    }

    @media (min-width: @desktop-width) {
        line-height: 36px;
    }
}

.promo__font {
    font-size: 37px;

    @media (min-width: @tablet-width) {
        font-size: 56px;
    }

    @media (min-width: @desktop-width) {
        line-height: 56px;
    }
}

.promo__text{
    margin-bottom: 30px;

    @media (min-width: @tablet-width) {
        padding-right: 100px;
        margin-top: 25px;
        margin-bottom: 35px;
    }

    @media (min-width: @desktop-width) {
        padding-right: 130px;
        line-height: 15px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

.promo__btn {
    font-size: 16px;
    line-height: normal;
    font-weight: 600;
    color: #1A212F;
    width: 70%;
    text-align: left;
    padding-top: 14px;
    padding-bottom: 17px;
    padding-left: 30px;
    border-radius: 25px;
    background-color: #FFFEFD;
    position: relative;

    @media (min-width: @tablet-width) {
        width: 60%;;
    }
}

.promo__btn::after {
    content: "";
    width: 36px;
    height: 36px;
    background-image: url(../img/paw.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
}