// .promo {

// }

.promo__wrap {
    min-height: 496px;
    background-image: url(../img/promo_back.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
}

.promo__title {
    font-family: "Rubikbold";
    font-size: 24px;
    // font-weight: 600;
    line-height: normal;
    margin-top: 50px;
    margin-bottom: 20px;
}

.promo__font {
    font-size: 37px;
}

.promo__text{
    margin-bottom: 30px;
}