@basic-color: #1a212f;
@basic-background: #f7f4e4;
@basic-yellow: #fac663;
@basic-orange: #FF7236;
// @basic-background: #FFFEFD;



// Viewports
@mobile-width-only: 767px;
@tablet-width: 768px;
@desktop-width: 1440px;
// @desktop-lg-width: 1160px;
