@font-face {
	font-family: "latoregular";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: local("latoregular"),
	  url("../fonts/latoregular.woff") format("woff"),
	  url("../fonts/latoregular.woff2") format("woff2");
}

@font-face {
	font-family: "latobold";
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: local("latoregular"),
	  url("../fonts/latobold.woff") format("woff"),
	  url("../fonts/latobold.woff2") format("woff2");
}

@font-face {
	font-family: "Rubic";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: local("Rubic"),
	  url("../fonts/Rubic.woff") format("woff"),
	  url("../fonts/Rubic.woff2") format("woff2");
}

@font-face {
	font-family: "Rubicbold";
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: local("Rubicbold"),
	  url("../fonts/Rubicbold.woff") format("woff"),
	  url("../fonts/Rubicbold.woff2") format("woff2");
}

@font-face {
	font-family: "MaterialIcons-Regular";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: local("MaterialIcons-Regular"),
	  url("../fonts/MaterialIcons-Regular.woff") format("woff"),
	  url("../fonts/MaterialIcons-Regular.woff2") format("woff2");
}



